.gitignore
Esercizio1/**
Esercizio2/correctme.txt
Esercizio2/dictionary.txt
.vscode/settings.json
*.gch
Esercizio4/italian_dist_graph.csv
Esercizio4/result.txt
Esercizio1/records.csv
Esercizio1/.vscode/settings.json
Esercizio 4/libJava/hamcrest-core-1.3.jar
Esercizio 4/libJava/junit.jar
Esercizio4/a.csv
