.gitignore
Esercizio2/correctme.txt
Esercizio2/dictionary.txt
.vscode/settings.json
Esercizio2/src/**
*.gch
Esercizio4/italian_dist_graph.csv
Esercizio4/result.txt
Esercizio1/records.csv
Esercizio1/.vscode/settings.json
